<div class="entry-form">
  <div class="popup" *ngIf="entryRegistered">Entrada registrada</div>
  <h2 class="form-title">Registra entrada</h2>
  <form (submit)="submitForm()">
    <div>
      <label for="vehicleNumber">Número de placa:</label>
      <input type="text" id="vehicleNumber" name="vehicleNumber" [(ngModel)]="vehicleNumber" required>
      <i class="help-icon">?</i>
    </div>
    <button type="submit" class="btn-primary" [disabled]="isFormValid()" >Crear entrada</button>
  </form>
</div>