.vehicle-types {
    margin: 56px;

    .vehicle-types-list {
        text-align: center;

        ul {
            list-style-type: none;
            padding: 0;

            li {
            margin-bottom: 10px;
            color: #333;
            }
        }
    }

    .vehicle-types-table {
        display: flex;
        flex-direction: column;
        border: 1px solid #ccc;
        border-radius: 8px;
        overflow: hidden;
    }

    .table-header {
        display: flex;
        background-color: #f4f4f4;
        padding: 10px;
        font-weight: bold;
    }

    .column {
        flex: 1;
        padding: 10px;
        color: #333;
    }

    .table-body {
        display: flex;
        flex-direction: column;
    }

    .table-row {
        display: flex;
        border-top: 1px solid #ccc;

        &:last-child {
            border-bottom: 1px solid #ccc;
        }
    }

    .add-vehicle-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;

    .btn-add {
        padding: 10px 20px;
        background-color: #0070c9;
        color: #fff;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
        background-color: #005499;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;

        .form-group {
            margin-bottom: 10px;

            label {
                display: block;
                font-weight: bold;
                color: #333;
            }

            input {
                padding: 10px;
                border: none;
                border-radius: 8px;
                background-color: #f4f4f4;
                color: #333;

                &:focus {
                outline: none;
                background-color: #e4e4e4;
                }
            }
        }

        button[type="submit"] {
            padding: 10px 20px;
            background-color: #0070c9;
            color: #fff;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #005499;
            }
        }
    }
    }

    h3 {
        margin-bottom: 10px;
        color: #333;
    }

    ul {
        list-style-type: none;
        padding: 0;

        li {
            margin-bottom: 5px;
            color: #333;

            &:last-child {
            margin-bottom: 0;
            }
        }
    }
}