<ng-container *ngIf="!isEntryRoute">
  <div class="menu">
    <div class="header">
      <h1>Parking App</h1>
    </div>

    <div class="body">
      <ul>
        <li><a routerLink="/entry">Registra entrada</a></li>
        <li><a routerLink="/exit">Registra salida</a></li>
        <li><a routerLink="/official">Da de alta vehículo oficial</a></li>
        <li><a routerLink="/resident">Da de alta vehículo de residente</a></li>
        <li><a routerLink="/start-month">Comienza mes</a></li>
        <li><a routerLink="/payment-report">Pagos de residentes</a></li>
        <li><a routerLink="/types">Tipos de vehículo</a></li>
      </ul>
    </div>
  </div>


</ng-container>
<router-outlet></router-outlet>